
/* Utilities Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: .5rem;
}

.col-flexed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.margin-top {
    margin-top: .5rem;
}
/* Utilities End */

/* Header Start */
.purple-top-bar {
    min-height: 5px;
    background-color: rgb(143,91,198);;
}

.nav-bar-container {
    background-color: black;
    min-height: 50px;
    margin-bottom: 1rem;
}

.nav-bar {
    width: 750px;
    min-height: 50px;
    margin: 0 auto;
    /* background-color: pink; */
    padding: 1rem;
}

h1 {
    color: white;
}

span {
    color: rgb(143,91,198);
}

.nav-bar-checkout {
    /* background-color: yellow; */
    min-height: 50px;
    width: 200px;
}

#cartCount {
    color: white;
    text-decoration: underline;
}

/* Header End */

/* Body Start */

body {
    background-color: whitesmoke;
}

.container {
    /* background-color: aqua; */
    width: 750px;
    /* min-height: 500px; */
    margin: 0 auto;
    /* background-color: whitesmoke; */
}

.top-box {
    /* background-color: green; */
    min-height: 250px;
    margin-bottom: .5rem;
    /* border: 3px solid black; */
}

#heroImg {
    width: 500px;
}

.rotated {
    transform: rotate(180deg);

}

.bottom-box {
    /* background-color: red; */
    /* min-height: 250px; */
    /* border: 3px solid black; */
}

.feature {
    /* background-color: orange; */
    background-color: white;
    /* min-height: 250px; */
    flex: 1;
    padding-bottom: .5rem;
    /* border: 3px solid black; */
}

.feature-img {
    width: 100%;
}

.osIcon {
    width: 30px;
}

.oldPrice {
    color: lightgrey;
    font-size: 12px;
}

.prices {
    margin-top: 1rem;
}

.purple {
    color: white;
    background-color: rgb(143,91,198);
    border: none;
    padding: .5rem;
    margin-top: 1rem;
}

.green {
    color: white;
    background-color: green;
    border: none;
    box-shadow: 3px 3px 3px black;
    padding: .5rem;
    margin-top: 1rem;
    cursor: pointer;
}
 /* Body End */

